<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="C:\home\site\wwwroot\TcpServer.exe" arguments="" stdoutLogEnabled="false"/>
  </system.webServer>
</configuration>